flows/Modified_Creating_Interaction_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_to_find_Duplicate_Leads</name>
        <label>Action to find Duplicate Leads</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <actionName>DuplicateLeadEntries</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Duplicate_Leads_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>intnList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>leadRecord</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_to_get_duplicate_Contacts</name>
        <label>Action to get duplicate Contacts</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <actionName>DuplicateContactEntries</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Duplicate_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>intnList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactRecord</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_For_Oppourtunity</name>
        <label>Email For Oppourtunity</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TemplateForOppourtunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectLine</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Lead_Creation_Mail</name>
        <label>Send Lead Creation Mail</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TemplateforLeadAssignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>MailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectforlead</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Duplicate_Contact</name>
        <label>Duplicate Contact ?</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Action_to_find_Duplicate_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Updated_by_Batch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associating_Interaction_to_Account_and_Contact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Leads_Found</name>
        <label>Duplicate Leads Found ?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Interaction_to_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Modified Creating Interaction Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modified Creating Interaction Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_Records</name>
        <label>Create Lead Records</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignRecordIdToReference>IdfromcreateLeadRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Lead_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Product_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Creating_Opportunity_Record</name>
        <label>Creating Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Email_For_Oppourtunity</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Lead_Record</name>
        <label>Get New Lead Record</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_record_updation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdfromcreateLeadRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Interaction_to_Lead</name>
        <label>Associate Interaction to Lead</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Lead_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>leadRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Associating_Interaction_to_Account_and_Contact</name>
        <label>Associating Interaction to Account and Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_fields_on_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_record_updation</name>
        <label>Lead record updation</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Send_Lead_Creation_Mail</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>IdfromcreateLeadRecord</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fields_on_Contact</name>
        <label>Update fields on Contact</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Creating_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Records</name>
        <label>Update Lead Records</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_to_get_duplicate_Contacts</targetReference>
        </connector>
        <filterFormula>{!$Setup.StopExecutionOfFlow__c.Stop_Flow__c}=FALSE</filterFormula>
        <object>Interaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>subjectforlead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;New Lead Assignment&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;New Opportunity assigned &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateforLeadAssignment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi ,&lt;/p&gt;&lt;p&gt;you have been assigned a new record.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateForOppourtunity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi ,&lt;/p&gt;&lt;p&gt;You&apos;ve been assigned a new Oppourtunity&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IdfromcreateLeadRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>MailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>enujoseph9@gmail.com</stringValue>
        </value>
    </variables>
</Flow>
